<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <ul>
          <% bookKey.forEach(val => { %>
                <img src="<%= val.imge %>" alt="">  
                <p><%= val.title %></p>
                <p><%= val.auther %> </p>
                <p><%=val.description%></p>
         <% })%>
         </ul>

    </main>
</body>
</html>