body {
    align-content: center;
    background-image: url(https://www.thewilloughbybookclub.co.uk/ekmps/shops/thewbc/images/the-bespoke-book-club-132-p.png);
    background-repeat: no-repeat;
    align-content: center;
    background-size: cover;
    
}
main#indexmain {
    background-color: #bfb4ae;
}

header {
    background-color: #383d3d;
    color: #937e73;
    padding: 4%;
    text-align: center;
    opacity: .8;
    border: solid 8px;
}
form {
    margin-top: 18%;
    background-color: #1d282a;
    opacity: 0.8;
    margin-bottom: 27%;
}
input[type="text"] {
    margin-left: 19%;
    margin-top: 6%;
    border: none;
    background-color: #bba190;
    padding: 3%;
    width: 60%;
    color: #0f1b22;
}

input[type="checkbox"] {
    margin-left: 18%;
    width: 10%;
    margin-top: 11%;
    /* color: black; */
}

label {
    font-size: 154%;
    color: #bea392;
}

h2 {
    text-align: center;
    padding: 1%;
    margin: 2;
    font-size: 127%;
    /* border: dotted 0.5px #8b807b; */
    /* margin-top: 1%; */
    color: #565b5b;
}

button {
    background-color: #b29988;
    padding: 1%;
    width: 64%;
    margin-left: 22%;
    /* height: 82%; */
    margin-top: 13%;
    margin-bottom: 13%;
    font-size: 125%;
    border-radius: 48%;
}

button:hover {
    background-color: #f1edea;
    padding: 1%;
    width: 64%;
    margin-left: 22%;
    /* height: 82%; */
    margin-top: 13%;
    margin-bottom: 13%;
    font-size: 125%;
    border-radius: 48%;
}

footer {
    background-color: #383d3d;
    color: #937e73;
    padding: 1%;
    text-align: center;
    opacity: .8;
    border: solid 2px;
}
h1 {
    padding: 1%;
    font-size: 208%;
    font-weight: bolder;
    text-shadow: black;
    float: left;
}

div {
    width: 35px;
    height: 5px;
    background-color: #c3ad9c;
    margin: 6px 0;
    /* float: left; */
    display: flex;
    margin-left: 94%;
}
ul {
    display: inline-table;
}

img.img {
    height: 412px;
    width: 323px;
    align-items: center;
    margin-left: 95%;
    margin-top: 13%;
    margin-bottom: 2%;
}
/* form {
    padding: 1%;
    margin: 2% 41% 2% 43%;
}

input[type="checkbox"] {
    padding: 19%;
    margin: 26% 6% 2% 8%;
}
input[type="text"] {
    padding: 7%;
    background-color: #80042e;
    width: 162%;
    border: none;
}
    button {
        width: 166%;
        padding: 7%;
        background-color: #80042e;
        border-radius: 56%;
        /* height: 50%; */
        /* color: #e2b59b;
        margin-top: 38%;
    } */


    /* button:hover {
        width: 166%;
        padding: 7%;
        background-color: #eea074;
        border-radius: 56%; */
        /* height: 50%; */
        /* color: #80042e;
        margin-top: 38%; */
    /* } */
    /* label {
        color: #80152e;
    } */ 
