<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/styles/reset.css">
    <link rel="stylesheet" href="/public/styles/base.css">
    
</head>
<body>
    <header>
        <h1>Best Books!</h1>
        <div class="topnav">
            <div id="myLinks">
              <a href="/">Home</a>
              <a href="/find">Search</a>
            </div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
    </header>
   
     
    <!-- <footer>© 2020 All Rights Reserved.</footer> -->
       
     <script>
     function myFunction() {
        var x = document.getElementById("myLinks");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }</script>
</body>
</html>